body {
    margin: 0;
    padding: 0;
    background: #444444;
}

.cont {
    width: 900px;
    height: 800px;
    margin: 20px auto 0 auto;
}

.sep {
    height: 10px;
    margin: 5px;
    width: auto;
}

.title {
    font-family: 'HelveticaNeue-Thin';
    font-size: 72px;
    color: #E9E9E9;
    left: 0;
}

.subtitle {
    font-family: 'HelveticaNeue-Thin';
    font-size: 48px;
    color: #919191;
    left: 0;
}

.letter {
    font-family: 'HelveticaNeue-Thin';
    font-size: 48px;
    color: #7DADCA;
    margin: 20px;
}

.regText {
    font-family: 'HelveticaNeue-Thin';
    font-size: 42px;
    color: #BBBBBB;
    margin-top: 20px;
}

.thisBox {
    width: 320px;
    height: 100px;
    background: #666;
    float: left;
}

#main {
    height: 100px;
    width: 700px;
    overflow-x:scroll;
    layout: 'horizontal';
    background: #0066FF;
}

#countdown {
    margin-left: 80px;
}

.statusBar{
    width: 800px;
    height: 20px;
}
#firstScore{
    background-color: #CA7D7D;
    padding-top: 4px;
    font-size: 14pt;
}
#secondScore{
    background-color: #7DADCA;
    padding-top: 4px;
    font-size: 14pt;
}
#thirdScore{
    background-color: #7DCA8B;
    padding-top: 4px;
    font-size: 14pt;
}
#fourthScore{
    background-color: #DD8D65;
    padding-top: 4px;
    font-size: 14pt;
}
.progress-bar{
    height: 20px;

}
.progress{
    background: #333333;
    margin: -43px 0 40px 80px;
}

#startDrumCount {
    margin-left: 80px;
}

#scroller {
    height: 200px;
    width:900px;
    overflow: hidden;
}

#textarea1{
    background-color:#444444;
    border-color: #444444;
    color:#888888;
    font-size:40px;
    font-family: "HelveticaNeue-Thin";
    overflow:hidden;
}
